body {
  margin: 0;
  height: 100vh;
}
#main{
  margin: 1em auto;
  padding: 4em;
  width: 550px;
  border-radius: 50%;
  background-color: black;
}

#controlPanel {
  text-align: center;
  margin: 1em auto;
  width: 18em;
  height: 18em;
  background-color: #CCC;
  border-radius: 50%;
}

#red {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: red;
	border: 5px solid darkred;
}

#blue {
  float: right;
  margin-top: 6em;
  width: 80px;
  height: 80px;
  background: blue;
	border: 5px solid darkblue;
}

#green {
  float: left;
  margin-top: 6em;
  width: 80px;
  height: 80px;
  background: green;
	border: 5px solid darkgreen;
}

#yellow {
  clear: both;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background: yellow;
	border: 5px solid #b38f00;
}

#count, #start, #msg, #strict {
  position: relative;
  top: 25%;
}

#count div {
  display: inline-block;
  margin-top: 1em;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 16pt;
}

#start button {
  margin-top: 1em;
  border: 3px solid darkorange;
  border-radius: 4px;
  box-shadow: 1px 1px 3px;
  background: yellow;
  font-size: 20pt;
}
#msg {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 2px;
  background: white;
  width: 6em;
  height: 1.5em;
  font-size: 1em;
}
